.linear-chart{
    &__area{
        stroke-opacity:1; 
        stroke-width: 2px;
        fill-opacity: 0.5;
    }
    &__overlay{
        border-radius: 100%;
        display: inline-block;
        opacity: 0.3;
        z-index: -1;
        transform: translate(-100px, -100px);
        width: 200px;
        height: 200px;
    }
}